@forward "globals";

.container {
  padding: 0 1rem;
}

.main {
  background: linear-gradient(to right, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  background-image: url(../images/bg-pattern-desktop.svg);

  &__left {
    & .main__logo {
      background-image: url(../images/logo.svg);
      background-size: 6rem;
      background-repeat: no-repeat;
      background-position: left;
      padding: 3rem 0rem;
      margin-left: 2rem;
    }

    & .main__bg {
      background-image: url(../images/hero-desktop.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      max-width: 100%;
      padding: 10rem 0;
    }

    & .main__box {
      text-align: center;

      & .main__title {
        font-size: 3rem;
        margin-top: 4rem;
        margin-bottom: 0;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        color: hsl(0, 80%, 86%);
        font-weight: lighter;
      }

      & .main__title--bold {
        font-size: 3rem;
        margin-top: 0.5rem;
        //margin-bottom: 0;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        color: var(--clr-neutral-gray);
        font-weight: normal;
      }

      & .main__paragraph {
        color: hsl(0, 80%, 86%);
      }

      & .main__button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 21rem;
        margin: 0 auto;
        & input {
          border: var(--clr-light-pink) solid 1px;
          padding: 1rem;
          border-radius: 2rem;
          width: 15rem;
          max-width: 15rem;

          &:focus {
            outline: none;
          }
          &::placeholder-shown {
            color: var(--clr-light-pink);
          }
          &::placeholder {
            color: var(--clr-light-pink);
          }
        }

        & button {
          border: none;
          background-color: var(--clr-light-pink);
          border-radius: 5rem;
          padding: 0.8rem;
          width: 4.5rem;
          position: absolute;
          right: 2rem;
        }
      }
    }
  }

  &__bg-right {
    background-image: url(../images/hero-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    max-width: 100%;
    padding: 10rem 0;
  }
}

@media (min-width: 1024px) {
  .main {
    display: flex;

    .container {
      padding: 4rem 0 0 0rem;
    }

    .main__button {
      margin: 4rem auto !important;
      & input {
        width: 100% !important;
        max-width: 20rem !important;
      }

      & button {
        right: 0 !important;
      }
    }

    .main__left {
      margin: 0 auto;
    }

    .main__bg {
      display: none !important;
      padding: 0;
    }

    .main__right {
      display: block;
      width: 50rem;
    }
    .bg-right {
      background-image: url(../images/hero-desktop.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      min-width: 100%;
      height: 100vh;
    }
  }
}
